html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 14px;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5%;
  }

  .canvas_container {
    position: relative;
    border-radius: 10px;
    width: 100vh;
    margin: 0 auto;
    height: 60vh;
    box-shadow: 0px 0px 10px 2px #526eec;
  }
  
  #canvas {
    height: 100%;
    width: 100%;
  }

  #start_menu {
    position: absolute;
    top: 35%;
    width: 50%;
    height: 25%;
    margin-left: 25%;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 13px;
  }

  .game_won {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    height: 90%;
    text-align: center;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .5em;
  }

  .game_won_body {
    top: 25%;
    left: 25;
    font-size: 2em;
  }

  .game_over {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    height: 90%;
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5em;
  }

  .game_over_body {
    top: 25%;
    left: 25;
    font-size: 2em;
  }

  .hidden {
    display: none;
  }

#high-scores-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  background-color: rgba(0,0,0,.5);
  width: 18%;
  font-size: 9px;
  font-weight: 200;
  text-align: center;
  padding: 0px 15px 0px 15px;
}

#high_score_title {
  color: #526eec;
  font-size: 15px;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  width: 100%;
  height: 15%;
  font-weight: 200;
  padding: 10px 0px 10px 0px;
}

li:last-child {
  padding-bottom: 26px;
}

#inputname {
  font-family: 'Press Start 2P', cursive;
  width: 70%;
  height: 20%;
  text-align: center;
  font-size: .7em;
  font-weight: 400;
  color: black;
}

#inputname:placeholder-shown {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: .7em;
}

#inputnameinput::placeholder {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: .7em;
}

#scores-table {
  height: 70%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#high-score-input {
  width: 100%;
  height: 20%;
  position: relative;
}

#high-score-button {
  width: 70%;
  position: relative;
  top: 10px;
  height: 20%;
  font-size: 9px;
  font-weight: 700;
  color: black;
}

#high-score-button:hover {
  color: #526eec;
  cursor: pointer;
}

.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25%;
}

.toggleTitle { 
  margin: 2%;
  font-size: 2em;
}

i {
  color: black;
  font-size: 20px;
}

i:hover {
  color: #526eec;
  transform: scale(1.1);
}

.social_links {
  top: 25%;
  left: 5%;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 18%;
}

.social_links > a {
  width: 36.42px;
}