i:hover {
    color: #526eec;
    transform: scale(1.1);
  }

i {
    color: black;
    margin: 50px;
}

.social_links {
    top: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
}

